body {
  margin: 0px;
  font-family: 'segoe ui';
  background-color: #f0f0f0;
}


/* ------ NAV BAR ------ */

.mainNavbar {
  height: 50px;
  width: 100%;
  background-color: rgb(94, 147, 243);
  font-weight: 300;
  box-shadow: -7px -3px 10px 1px black;
}

.mainHeader {
  font-size: 22px;
  padding: 11px 11px 11px 11px;
}

#mainHeaderLogo {
  float: left;
  width: 50px;
  height: auto;
}

.mainHeaderTitle {
  margin-left: 10px;
  display: inline-block;
}

.mainHeaderProfile {
  float: right;
  margin-right: 10px;
}

.mainHeaderElements {
 display: inline;
 margin-right: 10px;
}

/* ------ Main Body ------ */
.mainBody {
  margin: 70px auto 40px auto;
  max-width: 850px;
  min-height: 250px;
  background-color:#ffffff;
  box-shadow: -3px 2px 12px -5px grey;
  padding: 20px;
}

/* ------ Question ------ */
.mainBodyHeader {
  display: inline-flex;
}

.mainBodyIMG {
  float: left;
  margin-right: 15px;
  padding: 3px;
}

.mainBodyHeaderProps {

}

.mainBodyPropsName {
  font-weight: 600;
  font-size: 15px;
}

.mainBodyPropsHour {
  font-weight: 300;
  font-size: 12px;
  color: rgb(148, 141, 141);
}

.mainBodyQuestion {
  margin: 10px 0px 10px 10px;
  min-height: 50px;
  width: auto;
  padding-bottom: 15px;
  border-bottom: 1px solid rgb(218, 218, 218);
  margin-bottom: 30px;
}

/* ---- Answer ---- */

.mainBodyAnswer {

}

.mainBodyPropsAnswer {
  margin-top: 5px;
  margin-bottom: 10px;
  min-width: 700px;
  word-break: break-all;
  font-weight: 400;
  font-size: 14px;
  background-color: rgb(240, 240, 240);
  border-radius: 10px 20px 20px 10px;
  padding: 10px;
}


/*TESTE*/

.teste {
  background-color: burlywood;
  width: 50%;
  margin: 0 auto;
  height: auto;
  margin-top: 80px;
  padding: 10px;
}